@font-face {
font-family: WorkSans;
src: url(../fonts/WorkSans.ttf);
}

.hero_container{
  height: 500px;
  margin:  20px 7.3%;
  padding:0;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ), url("../media/art1.png");
  background-size: 100% 100%;
  cursor:pointer; 

}

.hero_container:hover{
  opacity: .98; 
}

.text_container{
  margin: 0 20px;
}

.hero_container h2{
  margin: 0;
  font-size:2.5em;
  font-family: WorkSans;
  font-weight: 800;
  color: #fff;
}
.hero_container h1{
  margin:0;
  font-size:1em;
  font-family: WorkSans;
  font-weight: 300;
  color: #999;
}
.hero_container .text_container:first-child{
  padding-top: 420px;
}
